//My Framework
*{font-family: 'Cairo', sans-serif;}
$primaryColor:#00a65a;
::selection {color: white;background: $primaryColor;}
select.form-control{padding: 0px 12px;}
.form-control:focus{border-color:$primaryColor}
.btn{padding: 3px 8px;margin: 0 3px;}
textarea{resize:vertical;min-height:80px;}

//Header
.slimScrollDiv{
  height:auto !important;max-height:200px;
  .menu{
    height:auto !important;max-height:200px;
  }
}

.tasks-menu{
  .report-header{padding: 3px;margin: 0;color: #444444;font-size: 15px;position: relative;
    small{color: #999999;font-size: 10px;position: absolute;top: 0;left: 0;}
  }
}

//Libraries
.select2{width:100%;}

//Nav bar
.navbar-nav{
   .profile-options{font-size:12px;}
}

//Side bar
.sidebar{
  .sidebar-menu{
    .pull-left{
      margin:0 !important;
    }
    .treeview-menu{
      li{
        padding-right:10px;
      }
    }
  }
}

//Login page
.login-box{
  width: 360px;margin: 0;position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width:90%;
  .action{
    display: flex;justify-content: space-between;
    .action-item{
      .signin{
        margin:7px 0;
      }
    }
  }
  .form-control{padding-right: 40px;padding-left: 0;text-align: right;}
  .form-control-feedback{right:0;left:auto;}
  .help-block{text-align: right;}
}
