//My Framework
*{font-family: 'Cairo', sans-serif;}
$primaryColor:#00a65a;
::selection {color: white;background: $primaryColor;}
.form-control:focus{border-color:$primaryColor}
.btn{padding: 3px 8px;margin: 0 3px;}

//Libraries
.select2{width:100%;}

//Nav bar
.navbar-nav{
   .profile-options{font-size:12px;}
}

//Side bar
.sidebar{
  .sidebar-menu{
    .pull-left{
      margin:0 !important;
    }
    .treeview-menu{
      li{
        padding-right:10px;
      }
    }
  }
}

//Login page
.login-box{
  width: 360px;margin: 0;position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width:90%;
  .action{
    display: flex;justify-content: space-between;
    .action-item{
      .signin{
        margin:7px 0;
      }
    }
  }
  .form-control{padding-right: 40px;padding-left: 0;text-align: right;}
  .form-control-feedback{right:0;left:auto;}
  .help-block{text-align: right;}
}
