//My Framework
*{font-family: 'Cairo', sans-serif;}

//Login page
.login-box{
  width: 360px;margin: 0;position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width:90%;
  .action{
    display: flex;justify-content: space-between;
    .action-item{
      .signin{
        margin:7px 0;
      }
    }
  }
}
